@media only screen and (max-width: 376px){
    body{
        font-family: 'Inter', sans-serif;
        padding: 30px;
        margin-left: 7%;
        margin-right: 7%;
    }
    nav ul li{
        display: inline-block;
        padding: 0 20px 0 0;
    }
    .toggle{
        display: none;
    }
}

@media only screen and (max-width: 375px){
    body{
        font-family: 'Inter', sans-serif;
        display: grid;
        justify-content: center;
        padding: 0px;
    }
    .open{
        width: 50px;
        height: 25px;
        margin-top: 8px;
    }
    .slide{
        display: flex;
        justify-content: space-between;
    }
    .toggle{
        display: contents;
    }
    ul{
        display: flow-root;
    }
    .navbar-nav{
        margin-top: 120px;
        margin-left: -10%;
        display: grid;
        justify-content: start;
        justify-items: start;
    }
    #nav {
        transition: transform .3s ease-in-out;
        top: 0;
        bottom: 0;   
        min-height: 100vh; /* override Safari bug */
        position: fixed; /* or choose `absolute` depending on desired behavior*/
        width: 250px;
        right: 376px;
        background-color: hsl(36, 100%, 99%);
      }
    
      #nav:target {     
        transform: translateX(376px);
      }
    
      .close {
        text-align: right;
        display: block;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: 10px;
        margin-left: 60%;
      }
      .desktop{
        display: none;
      }
      .movile{
        display: flex;
        width: 158%;
        margin-top: 25px;
      }
      .title, .information{
        float: revert;
        width: 167%;
      }
      h2{
        margin-top: 15px;
        font-size: 42px;
        margin-bottom: 15px;
      }
      .info{
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .card{
        width: 91%;
        padding: 15px;
        margin-left: 0px;
        margin-top: 50px;
      }
      .articles{
        display: grid;
        margin-top: 40px;
      }
      .top{
        padding: 0px;
        width: 100%;
        margin-bottom: 30px;
    }
    .img{
        float: left; 
        width: 30%;
    }
    .right{
        float: right;
        margin-right: -18px;
        width: 70%;
    }
    .attribution{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flow-root;
    }
}
